{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/places_list.css' %}">
{% endblock %}

{% block content %}

<div class="place-list-page">
  <div class="container-fluid">

            <div class="row">
                <div class="col-sm-4">
                  <div class="hotels-column">
                    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary overflow-auto" style="width: 100%; max-height: 100vh;">
                        <h2>Your Research 🔍</h2>

                        <div class="card-group check" >
                            <div class="card check">
                              <div class="card-body">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control"  placeholder="Check in">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                              </div>    
                            </div>
                          
                          
                            <div class="card check">
                              <div class="card-body">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control"  placeholder="Check out">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                              </div>    
                            </div>
                         
                            <button type="button" class="btn btn-primary" >🔍</button>
                          
                        </div>
                        

                        <div class="list-group list-group-flush border-bottom scrollarea">
                        
                          <div class="hotel-card">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" >
                                <div class="col-auto d-none d-lg-block" >
                                  <img src="https://static.hosteltur.com/app/public/uploads/img/articles/2013/09/01/M_5b14ea6fb7f86_shutterstock_HOTEL.jpg" alt="" >
                                </div>
                                <div class="col p-4 d-flex flex-column position-static" >
                                  <strong class="d-inline-block mb-2 text-primary">⭐⭐⭐</strong>
                                  <h4 class="mb-0">Hotel Bastardo</h4>
                                  <p class="card-text mb-auto">Adress</p>
                                  <button type="button" class="btn btn-primary card" >Availability</button>
                               </div>
                            </div>
                          </div>

                          <div class="hotel-card">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col-auto d-none d-lg-block">
                                  <img src="https://www.intermundial.es/blog/wp-content/uploads/2011/09/problemas-hotel-1200x798.jpg" alt="" >
                                </div>
                                <div class="col p-4 d-flex flex-column position-static">
                                  <strong class="d-inline-block mb-2 text-primary">⭐⭐</strong>
                                  <h4 class="mb-0">Hotel Maravilla</h4>
                                  <p class="card-text mb-auto">Adress</p>
                                  <button type="button" class="btn btn-primary card">Availability</button>
                               </div>
                            </div>
                          </div>

                            <div class="hotel-card">
                              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                  <div class="col-auto d-none d-lg-block">
                                    <img src="https://www.hotelgest.com/wp-content/uploads/2022/10/hotelgest.jpg" alt="" >
                                  </div>
                                  <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">⭐⭐⭐⭐</strong>
                                    <h4 class="mb-0">Hotel Samos</h4>
                                    <p class="card-text mb-auto">Adress</p>
                                    <button type="button" class="btn btn-primary card">Availability</button>
                                </div>
                              </div>
                            </div>

                            <div class="hotel-card">
                              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                  <div class="col-auto d-none d-lg-block">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB4jc5QUq-gKAZFgECy8fEal7VWuWRVutJmw&usqp=CAU" alt="">
                                  </div>
                                  <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">⭐</strong>
                                    <h4 class="mb-0">Hostal Sans</h4>
                                    <p class="card-text mb-auto">Adress</p>
                                    <button type="button" class="btn btn-primary card">Availability</button>
                                </div>
                              </div>
                            </div>

                            <div class="hotel-card">
                              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                  <div class="col-auto d-none d-lg-block">
                                    <img src="https://guias-viajar.com/estados-unidos/wp-content/uploads/sites/4/2018/03/estados-unidos-moteles-003.jpg" alt="" >
                                  </div>
                                  <div class="col p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-primary">⭐⭐⭐⭐</strong>
                                    <h4 class="mb-0">Route 66</h4>
                                    <p class="card-text mb-auto">Adress</p>
                                    <button type="button" class="btn btn-primary card">Availability</button>
                                </div>
                              </div>
                            </div>

                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div id="map"></div>
                </div>
                <script>
                  const map = L.map('map').setView([39.714760, 2.914294], 13);
                
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 10,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
              
                var marker = L.marker([39.859, 3.11]).addTo(map)
                  .bindPopup('<b>Hotel AlcudiaMar</b>').openPopup();
                  
                var marker = L.marker([39.899160, 3.079547]).addTo(map)
                  .bindPopup('<b>Hostal Pollentia</b>').openPopup();
  
                var marker = L.marker([39.509094, 2.532609]).addTo(map)
                  .bindPopup('<b>Hotel Samos</b><br/>Magalluf, Mallorca.').openPopup();
                
                var marker = L.marker([40.425413, -3.700837]).addTo(map)
                  .bindPopup('<b>Hotel Bastardo</b><br/>Madrid.').openPopup();
  
                var marker = L.marker([39.530565, 2.737518]).addTo(map)
                  .bindPopup('<b>Hotel Maravillas</b><br/>Arenal, Mallorca.').openPopup();
  
                var marker = L.marker([39.929123, 3.133735]).addTo(map)
                  .bindPopup('<b>Hotel Formentor!</b><br />Cabo Formentor.').openPopup();
  
                var marker = L.marker([39.851802, 2.801514]).addTo(map)
                  .bindPopup('<b>Apartametos Calobra</b><br />Sa Calobra.').openPopup();
            
                
                </script>
  
              </div>
            </div>
        
  </div> 
</div>        
{% endblock %}
          