{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/place.css' %}">
{% endblock %}

{% block content %}
<div class="place-page">
    <div class="container-fluid">
        <div class="place_name">
            <h1>{{place.name}} {{place.stars_icons}}</h1>
        </div>

        <div class="row">
            <div class="col-sm-6">
                
                <div class="carousel">
                   
                    <div id="myCarousel" class="carousel slide pointer-event" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for picture in place.pictures %}
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4" class="active" aria-current="true"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 3" class="active" aria-current="true"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 2" class="active" aria-current="true"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 1" class="active" aria-current="true"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 0" class="active" aria-current="true"></button>
                          {% endfor %}
                          
                        </div>

                        <div class="carousel-inner">
                            {% for picture in place.pictures%} 
                            <div class="carousel-item {% if forloop.first %} active {% endif %} ">
                              <img src="{{picture}}" alt="">
                            </div>
                            {% endfor %}
                            
                          </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                        <div class="card">
                            <div class="card-body">
                                <h5>{{place.description}}</h5>
                            </div>
                        </div>
                        
                </div>
            </div>
            <div class="col-sm-6">
                <div id="map"></div>
                <script>
                    const map = L.map('map').setView([40.425229, -3.700060], 13);

                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 10,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);

                    L.marker([40.425413, -3.700837]).addTo(map)
                        .bindPopup('<b>Hotel Bastardo</b><br/>Madrid.').openPopup();

                </script>
                <div class="booking">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            
                            <li class="list-group-item top">
                                <h3>{{ rooms.0.name }}</h3>
                            </li>
                            <li class="list-group-item all"><br>
                                <h5>📆{{ check_in }} 📆{{ check_out }}</h5><br>
                            </li>
                            <li class="list-group-item all"><br>
                                <h3>Precio final:  {{ rooms.0.price }}€<br><br> <a href="/pay_page/{{place.id}}?check_in={{check_in}}&check_out={{check_out}}" style="text-decoration: none;"><button type="button" class="btn btn-primary">Reserver now</button></h3><br></a> 
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="availability">
        <div class="card">
            <div class="card-body">
                <h4>Availability</h4>
            </div>
        </div>
    </div>
    <div class="availability-card">
        <div class="row">
            <div class="col-sm-3">
                <div class="availability-cards">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item top">
                                <h3>Room types</h3>
                            </li>
                            {% for room in rooms %}
                            <li class="list-group-item">{{room.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="availability-cards">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item top" >
                                <h3>Persons</h3>
                            </li>
                            {% for room in rooms %}
                            <li class="list-group-item">{{room.beds}}👤</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="availability-cards">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item top">
                                <h3>Price</h3>
                            </li>
                            {% for room in rooms %}
                            <li class="list-group-item">{{room.price}}€</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="availability-cards">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item top">
                                <h3>Reserve</h3>
                            </li>
                           
                            {% for room in rooms %}
                            <li class="list-group-item"><a href="#"
                                class="link-primary">Reserve</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}