{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/place.css' %}">
{% endblock %}

{% block content %}
<div class="place-page">
    <div class="container-fluid">
        <div class="place_name">
            <h1>Hotel Bastardo⭐⭐⭐</h1>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="carousel">
                    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                                aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                                class=""></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                                class="active" aria-current="true"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img src="https://groupcorner.com/uploads/HOTELS/hotel_11426/diaporama/_-image-0_50/1000x548_C_image-0_50.jpg"
                                    alt="">
                            </div>
                            <div class="carousel-item">
                                <img src="https://groupcorner.com/uploads/HOTELS/hotel_11426/_-image-3_30/1000x548_C_image-3_30.jpg"
                                    alt="">
                            </div>
                            <div class="carousel-item active">
                                <img src="https://groupcorner.com/uploads/HOTELS/hotel_11426/_-image-3_30/1000x548_C_image-3_30.jpg"
                                    alt="">

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="card">
                            <div class="card-body">
                                <h5>Encuéntrese con una cálida bienvenida mediterránea para una estancia inolvidable en
                                    nuestro moderno hotel de 4 estrellas en Magaluf, en la hermosa región de Calvià,
                                    Mallorca.
                                    Cree una estancia a su medida con nuestra selección de elegantes habitaciones,
                                    opciones de alojamiento y servicios de alta calidad, todo ello proporcionado con
                                    profesionalidad, una sonrisa amable y un toque personal.
                                    Tanto si está fuera todo el día como si nunca deja su tumbona junto a la piscina, el
                                    Hotel Samos tiene todo lo que necesita para un maravilloso descanso, sea cual sea su
                                    tipo de vacaciones.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="map"></div>
                <script>
                    const map = L.map('map').setView([40.425229, -3.700060], 13);

                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 10,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);

                    L.marker([40.425413, -3.700837]).addTo(map)
                        .bindPopup('<b>Hotel Bastardo</b><br/>Madrid.').openPopup();

                </script>
                <div class="booking">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item top">
                                <h3>Habitación doble suit</h3>
                            </li>
                            <li class="list-group-item all"><br>
                                <h5>📆Check in: 05/05/23 📆Check out: 07/05/23</h5><br>
                            </li>
                            <li class="list-group-item all"><br>
                                <h3>Precio final: 356€ <br><br> <button type="button" class="btn btn-primary">Reserver now</button></h3><br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="availability">
        <div class="card">
            <div class="card-body">
                <h4>Availability</h4>
            </div>
        </div>
    </div>
    <div class="availability-card">
        <div class="row">
            <div class="col-sm-3">
                <div class="availability-cards">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item top">
                                <h3>Room types</h3>
                            </li>
                            <li class="list-group-item">Single room</li>
                            <li class="list-group-item">Suite room</li>
                            <li class="list-group-item">Suite room</li>
                            <li class="list-group-item">Double room suite</li>
                            <li class="list-group-item">Single room</li>
                            <li class="list-group-item">Room with balcony</li>
                            <li class="list-group-item">Double room suite</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="availability-cards">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item top" >
                                <h3>Persons</h3>
                            </li>
                            <li class="list-group-item info">1👤</li>
                            <li class="list-group-item info">2👤👤</li>
                            <li class="list-group-item info">2👤👤</li>
                            <li class="list-group-item info">4👤👤 👤👤</li>
                            <li class="list-group-item info">1👤</li>
                            <li class="list-group-item info">3👤👤 👤</li>
                            <li class="list-group-item info">2👤👤</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="availability-cards">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item top">
                                <h3>Price</h3>
                            </li>
                            <li class="list-group-item info">150€</li>
                            <li class="list-group-item info">550€</li>
                            <li class="list-group-item info">220€</li>
                            <li class="list-group-item info">345€</li>
                            <li class="list-group-item info">743€</li>
                            <li class="list-group-item info">320€</li>
                            <li class="list-group-item info">1123€</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="availability-cards">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item top">
                                <h3>Reserve</h3>
                            </li>
                            <li class="list-group-item"><a href="#"
                                    class="link-primary">Reserve</a></li>
                            <li class="list-group-item"><a href="#"
                                    class="link-primary">Reserve</a></li>
                            <li class="list-group-item"><a href="#"
                                    class="link-primary">Reserve</a></li>
                            <li class="list-group-item"><a href="#"
                                    class="link-primary">Reserve</a></li>
                            <li class="list-group-item"><a href="#"
                                    class="link-primary">Reserve</a></li>
                            <li class="list-group-item"><a href="#"
                                    class="link-primary">Reserve</a></li>
                            <li class="list-group-item"><a href="#"
                                    class="link-primary click">Reserve</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}